[package]
name        = "yazi-cli"
version     = "0.2.5"
edition     = "2021"
license     = "MIT"
authors     = [ "sxyazi <sxyazi@gmail.com>" ]
description = "Yazi command-line interface"
homepage    = "https://yazi-rs.github.io"
repository  = "https://github.com/sxyazi/yazi"

[dependencies]
yazi-boot   = { path = "../yazi-boot", version = "0.2.5" }
yazi-dds    = { path = "../yazi-dds", version = "0.2.5" }
yazi-shared = { path = "../yazi-shared", version = "0.2.5" }

# External dependencies
anyhow     = "1.0.86"
clap       = { version = "4.5.11", features = [ "derive" ] }
crossterm  = "0.27.0"
md-5       = "0.10.6"
serde_json = "1.0.121"
tokio      = { version = "1.39.2", features = [ "full" ] }
toml_edit  = "0.22.17"

[build-dependencies]
yazi-shared = { path = "../yazi-shared", version = "0.2.5" }

# External build dependencies
anyhow                = "1.0.86"
clap                  = { version = "4.5.11", features = [ "derive" ] }
clap_complete         = "4.5.11"
clap_complete_fig     = "4.5.2"
clap_complete_nushell = "4.5.3"
serde_json            = "1.0.121"
vergen-gitcl          = { version = "1.0.0", features = [ "build" ] }

[target.'cfg(target_os = "macos")'.dependencies]
crossterm = { version = "0.27.0", features = [ "use-dev-tty" ] }

[[bin]]
name = "ya"
path = "src/main.rs"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/yazi-{ target }{ archive-suffix }"
bin-dir = "yazi-{ target }/{ bin }{ binary-ext }"
