[package]
name        = "yazi-cli"
version     = "25.5.31"
edition     = "2024"
license     = "MIT"
authors     = [ "sxyazi <sxyazi@gmail.com>" ]
description = "Yazi command-line interface"
homepage    = "https://yazi-rs.github.io"
repository  = "https://github.com/sxyazi/yazi"

[dependencies]
yazi-boot   = { path = "../yazi-boot", version = "25.5.31" }
yazi-dds    = { path = "../yazi-dds", version = "25.5.31" }
yazi-fs     = { path = "../yazi-fs", version = "25.5.31" }
yazi-macro  = { path = "../yazi-macro", version = "25.5.31" }
yazi-shared = { path = "../yazi-shared", version = "25.5.31" }

# External dependencies
anyhow     = { workspace = true }
clap       = { workspace = true }
crossterm  = { workspace = true }
serde      = { workspace = true }
serde_json = { workspace = true }
tokio      = { workspace = true }
toml       = { workspace = true }
twox-hash  = { workspace = true }

[build-dependencies]
yazi-shared = { path = "../yazi-shared", version = "25.5.31" }

# External build dependencies
anyhow                = { workspace = true }
clap                  = { workspace = true }
clap_complete         = "4.5.51"
clap_complete_fig     = "4.5.2"
clap_complete_nushell = "4.5.6"
serde_json            = { workspace = true }
vergen-gitcl          = { version = "1.0.8", features = [ "build" ] }

[target.'cfg(target_os = "macos")'.dependencies]
crossterm = { workspace = true, features = [ "use-dev-tty", "libc" ] }

[[bin]]
name = "ya"
path = "src/main.rs"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/yazi-{ target }{ archive-suffix }"
bin-dir = "yazi-{ target }/{ bin }{ binary-ext }"
