[package]
name    = "yazi"
version = "0.1.0"
edition = "2021"

[dependencies]
ansi-to-tui        = "^3"
anyhow             = "^1"
async-channel      = "^1"
base64             = "^0"
console-subscriber = "^0"
crossterm          = { version = "^0", features = [ "event-stream" ] }
futures            = "^0"
glob               = "^0"
image              = "^0"
indexmap           = "^2"
libc               = "^0"
md5                = "^0"
notify             = { version = "^6", default-features = false, features = [ "macos_fsevent" ] }
once_cell          = "^1"
parking_lot        = "^0"
ratatui            = "^0"
serde              = { version = "^1", features = [ "derive" ] }
serde_json         = "^1"
signal-hook-tokio  = { version = "^0", features = [ "futures-v0_3" ] }
syntect            = "^5"
tokio              = { version = "^1", features = [ "parking_lot", "macros", "rt-multi-thread", "sync", "fs", "process", "io-std", "io-util" ] }
toml               = { version = "^0", features = [ "preserve_order" ] }
tracing            = "^0"
tracing-appender   = "^0"
tracing-subscriber = "^0"
trash              = "^3"
unicode-width      = "^0"
xdg                = "^2"

[profile.release]
strip = true
lto   = true
panic = "abort"
