[workspace]
resolver        = "2"
members         = [ "yazi-*" ]
default-members = [ "yazi-fm", "yazi-cli" ]

[profile.release]
codegen-units = 1
lto           = true
panic         = "abort"
strip         = true

[workspace.dependencies]
ansi-to-tui   = "6.0.0"
anyhow        = "1.0.86"
arc-swap      = "1.7.1"
base64        = "0.22.1"
bitflags      = "2.6.0"
clap          = { version = "4.5.17", features = [ "derive" ] }
crossterm     = { version = "0.28.1", features = [ "event-stream" ] }
dirs          = "5.0.1"
futures       = "0.3.30"
globset       = "0.4.14"
libc          = "0.2.158"
md-5          = "0.10.6"
mlua          = { version = "0.9.9", features = [ "lua54", "serialize", "macros", "async" ] }
parking_lot   = "0.12.3"
ratatui       = { version = "0.28.1", features = [ "unstable-rendered-line-info" ] }
regex         = "1.10.6"
scopeguard    = "1.2.0"
serde         = { version = "1.0.209", features = [ "derive" ] }
serde_json    = "1.0.128"
shell-words   = "1.1.0"
tokio         = { version = "1.40.0", features = [ "full" ] }
tokio-stream  = "0.1.16"
tokio-util    = "0.7.12"
tracing       = { version = "0.1.40", features = [ "max_level_debug", "release_max_level_warn" ] }
unicode-width = "0.1.13"
uzers         = "0.12.1"
