[package]
name        = "yazi-adapter"
version     = "0.3.3"
edition     = "2021"
license     = "MIT"
authors     = [ "sxyazi <sxyazi@gmail.com>" ]
description = "Yazi image adapter"
homepage    = "https://yazi-rs.github.io"
repository  = "https://github.com/sxyazi/yazi"

[dependencies]
yazi-config = { path = "../yazi-config", version = "0.3.3" }
yazi-shared = { path = "../yazi-shared", version = "0.3.3" }

# External dependencies
ansi-to-tui  = { workspace = true }
anyhow       = { workspace = true }
arc-swap     = { workspace = true }
base64       = { workspace = true }
color_quant  = "1.1.0"
crossterm    = { workspace = true }
futures      = { workspace = true }
image        = "0.25.2"
imagesize    = "0.13.0"
kamadak-exif = "0.5.5"
ratatui      = { workspace = true }
scopeguard   = { workspace = true }
tokio        = { workspace = true }
tracing      = { workspace = true }

[target.'cfg(target_os = "macos")'.dependencies]
crossterm = { workspace = true, features = [ "use-dev-tty", "libc" ] }
