[package]
name        = "yazi-fm"
version     = "0.2.0"
edition     = "2021"
license     = "MIT"
authors     = [ "sxyazi <sxyazi@gmail.com>" ]
description = "Yazi File Manager"
homepage    = "https://yazi-rs.github.io"
repository  = "https://github.com/sxyazi/yazi"

[dependencies]
yazi-adaptor   = { path = "../yazi-adaptor", version = "0.2.0" }
yazi-config    = { path = "../yazi-config", version = "0.2.0" }
yazi-core      = { path = "../yazi-core", version = "0.2.0" }
yazi-plugin    = { path = "../yazi-plugin", version = "0.2.0" }
yazi-scheduler = { path = "../yazi-scheduler", version = "0.2.0" }
yazi-shared    = { path = "../yazi-shared", version = "0.2.0" }

# External dependencies
ansi-to-tui   = "^3"
anyhow        = "^1"
better-panic  = "^0"
crossterm     = { version = "^0", features = [ "event-stream" ] }
fdlimit       = "^0"
futures       = "^0"
mlua          = { version = "^0", features = [ "lua54", "vendored" ] }
ratatui       = "^0"
tokio         = { version = "^1", features = [ "parking_lot" ] }
unicode-width = "^0"

# Logging
tracing            = { version = "^0", features = [ "max_level_debug", "release_max_level_warn" ] }
tracing-appender   = "^0"
tracing-subscriber = "^0"

[target."cfg(unix)".dependencies]
libc              = "^0"
signal-hook-tokio = { version = "^0", features = [ "futures-v0_3" ] }

[[bin]]
name = "yazi"
path = "src/main.rs"
