[package]
name        = "yazi-boot"
version     = "0.2.5"
edition     = "2021"
license     = "MIT"
authors     = [ "sxyazi <sxyazi@gmail.com>" ]
description = "Yazi bootstrapper"
homepage    = "https://yazi-rs.github.io"
repository  = "https://github.com/sxyazi/yazi"

[dependencies]
regex        = "1.10.5"
yazi-adapter = { path = "../yazi-adapter", version = "0.2.5" }
yazi-config  = { path = "../yazi-config", version = "0.2.5" }
yazi-shared  = { path = "../yazi-shared", version = "0.2.5" }

# External dependencies
clap  = { version = "4.5.11", features = [ "derive" ] }
serde = { version = "1.0.204", features = [ "derive" ] }

[build-dependencies]
clap                  = { version = "4.5.11", features = [ "derive" ] }
clap_complete         = "4.5.11"
clap_complete_fig     = "4.5.2"
clap_complete_nushell = "4.5.3"
vergen-gitcl          = { version = "1.0.0", features = [ "build" ] }
