name: Validate Form

on:
  issues:
    types: [opened, edited]
  schedule:
    - cron: "20 * * * *"

jobs:
  check-version:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20

      - name: Install Dependencies
        run: |
          cd scripts/validate-form
          npm ci

      - name: Validate Form
        uses: actions/github-script@v8
        with:
          script: |
            const script = require('./scripts/validate-form/main.js')
            await script({github, context, core})
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
